.username-form {
  position: relative;
  height: 350px;
}

.u-form-group {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatscreen-margin {
  margin-top: 100px;
}


.content-active {
  background-image: linear-gradient(120deg, white 0%, #FFBF46 100%) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 0.2em !important;
  background-position: 0 80% !important;
  transition: background-size 0.2s ease-in !important;
  background-size: 100% 0.5em !important;
}

.icon-active {
  color: #FFBF46 !important;
}

.tab-active {
  background: rgba(0,0,0,.03) !important;
  color: rgba(0,0,0,.8) !important
}

.messages-box {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}

.sticky-header {
  z-index: 1000;
  margin: 0;
  background-color: white;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
